[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "*"
flask = "*"
waitress = "*"
gunicorn = "*"
xgboost = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.10"
